# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS/Xcode related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Flutter/GeneratedPluginRegistrant.*

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/.dart_tool/

# Other
*.lock
*.log
heybro-standalone.zip
voice_assistant_consolidated
heybro-standalone_0.4.7.zip
heybro-standalone_0.4.8.zip
